<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <!-- link to main style sheet-->
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="/AA">AA</a></li>
     </ul>
   </nav>
  <main class="page-content" aria-label="Content"
  <div class="wrapper">
    
      {{ content }}
  </div><!-- /.container -->
  </main>
  <footer>
      <ul class="social-links">
        <li><a href="https://twitter.com/CharisRamsing">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/charis-ramsing/">LinkedIn</a></li>
      </ul>
  </footer>
  
</body>
</html>
